<div id="animated-preview-container" class="preview-container">
  <div class="canvas-container-wrapper minimap-container  skin_inset mr1 mb1">
    <div id="animated-preview-canvas-container" class="canvas-container">
      <div class="canvas-background"></div>
    </div>
  </div>
  <div class="ui_form_combo mt1 mb1">
    <button title="Toggle onion skin (alt+O)"
         rel="tooltip"
         data-placement="bottom"
         class="piskel-icon-onion preview-toggle-onion-skin"></button>
    <input id="preview-fps" class="range-fps" type="number" min="0" max="24"/>
    <span class="display-fps ui_combo__small">FPS</span>
  </div>
</div>