
@font-face {
  font-family: 'Fishburne';
  src: url('Fishburne.eot?#iefix') format('embedded-opentype'),  url('Fishburne.woff') format('woff'), url('Fishburne.ttf')  format('truetype'), url('Fishburne.svg#Fishburne') format('svg');
  font-weight: normal;
  font-style: normal;
}
