@font-face {
  font-family: 'MicroKnight';
  src: url('t!s-af10/eot/MicroKnight_v1.0.eot');
  src: url('t!s-af10/eot/MicroKnight_v1.0.eot?#iefix') format('embedded-opentype'),
       url('t!s-af10/woff/MicroKnight_v1.0.woff2') format('woff2'),
       url('t!s-af10/woff/MicroKnight_v1.0.woff') format('woff'),
       url('t!s-af10/ttf/MicroKnight_v1.0.ttf') format('truetype'),
       url('t!s-af10/svg/MicroKnight_v1.0.svg#microknightregular') format('svg');
  font-weight: normal;
  font-style: normal;
}