@font-face {
  font-family: 'MicroKnightPlus';
  src: url('t!s-af10/eot/MicroKnightPlus_v1.0.eot');
  src: url('t!s-af10/eot/MicroKnightPlus_v1.0.eot?#iefix') format('embedded-opentype'),
       url('t!s-af10/woff/MicroKnightPlus_v1.0.woff2') format('woff2'),
       url('t!s-af10/woff/MicroKnightPlus_v1.0.woff') format('woff'),
       url('t!s-af10/ttf/MicroKnightPlus_v1.0.ttf') format('truetype'),
       url('t!s-af10/svg/MicroKnightPlus_v1.0.svg#microknightplusregular') format('svg');
  font-weight: normal;
  font-style: normal;
}