li
{
   margin: 3px;
   padding: 0px;
}
th
{
   background-color: #eeeeee;
   border: 1px solid #dddddd;
}
td
{
   background-color: #ffffff;
   text-align: center;
   padding-top: 2px;
   padding-bottom: 2px;
   padding-right: 6px;
   padding-left: 6px;
   border: 1px solid #dddddd;
}
ul,ol
{
   margin: 0px;
   border: 0px;
   padding: 0px;
   
}
.table_form
{
   margin: 8px;
   margin-left: 4px;
   border: 0px;
   padding: 0px;
}
.header
{
   background-color: #ffffff;
   color: #000000;
   font-size: 12pt;
   margin: 0px;
   border: 0px;
   text-align: left;
   padding: 0px;
}
.header_div
{
   background-color: #cc7755;
   border: 2px solid #aa5533;
   margin: 4px;
   margin-bottom: 0px;
   padding: 18px;
   padding-bottom: 14px;
}
.banner
{
   margin-bottom: 8px;
   margin-left: 1px;
}
.headerphrase
{
   background-color: #dddddd;
   border-top: 1px solid black;
   font-size: 10pt;
   padding-left: 14px;
   padding-top: 4px;
   padding-bottom: 6px;
}
.status_bar
{
   background-color: #ffffff;
   border: 0px;
   font-size: 10pt;
   text-align: left;
   color: #000000;
   font-family: arial, sans-serif;
   text-decoration: none;
   padding: 0px;
}
.status_div
{
   background-color: #ddaa55;
   border: 2px solid #bb8833;
   margin: 4px;
   margin-bottom: 0px;
   padding: 6px;
   padding-left: 18px;
}
.forum_post
{
   margin: 4px;
   margin-bottom: 0px;
   background-color: #eeeeee;
   border: 1px solid #eeeeee;
   padding: 6px;
   padding-left: 18px;
}
.forum_h
{
   padding: 4px;
   padding-left: 12px;
   padding-right: 12px;
   text-align: center;
   font-weight: bold;
   color: #000000;
   font-family: arial, sans-serif;
   text-decoration: none;
}
.status_hidden
{
   color: #ddaa55;
}
a.status_link
{
   color: #000000;
}
a.status_link:visited
{
   color: #000000;
}
.menublock0
{
   background-color: #cceebb;
   background-color: #eecc55;
   border: 2px solid #aacc99;
   border: 2px solid #ccaa33;
   margin: 4px;
}
.invis0
{
   color: #ddbb66;
   color: #eecc55;
}
.menublock1
{
   background-color: #ffee77;
   border: 2px solid #eecc55;
   margin: 4px;
}
.invis1
{
   color: #ffee77;
}
.menublock4
{
   background-color: #ddaa55;
   border: 2px solid #bb8833;
   margin: 4px;
}
.invis4
{
   color: #ddaa55;
}
.menublock7
{
   background-color: #cc7755;
   border: 2px solid #aa5533;
   margin: 4px;
}
.invis7
{
   color: #cc7755;
}
.lcol
{
   font-size: 10pt;
   font-family: arial, sans-serif;
   border: 0px;
   margin: 0px;
   padding: 0px;
   text-align: left;
   vertical-align: top;
   width: 182px;
   max-width: 182px;
}
.menublock
{
}
div
{
   margin: 0px;
   border: 0px;
   padding: 0px;
}
table
{
   border-collapse: collapse;
   margin-top: 12px;
   margin-bottom: 9px;
}
.buy_grid
{
   margin-top: 16px;
   margin-bottom: 0px;
}
.page_table
{
   margin: 0px;
   width: 100%;
}
h1
{
   margin-top: 0px;
   margin-left: 0px;
   padding-left: 0px;
   font-size: 16pt;
   font-family: arial, sans-serif;
   font-weight: 600;
}
h2
{
   margin-top: 25px;
   margin-bottom: 16px;
   font-size: 12pt;
   font-family: arial, sans-serif;
   font-weight: 600;
}
h3
{
   margin-top: 25px;
   margin-bottom: 16px;
   font-size: 12pt;
   font-family: arial, sans-serif;
   font-weight: 600;
}
h4
{
   margin-top: 20px;
   margin-bottom: 16px;
   font-size: 10pt;
   font-family: arial, sans-serif;
   font-weight: 600;
}
li
{
   margin-left: 30px;
   margin-right: 5px;
   margin-top: 8px;
   margin-bottom: 8px;
}
img
{
   border: 0px;
   margin: 0px;
   padding: 0px;
   vertical-align: middle;
}
body
{
   background-color: #ffffff;
   color: #000000;
   margin: 0px;
   padding: 0px;
   border: 0px;
   text-align: left;
   font-size: 10pt;
   font-family: arial, sans-serif;
}
.footer
{
   font-size: 8pt;
   background-color: #ffffff;
   margin: 0px;
   padding-left: 15px;
   padding-top: 6px;
   padding-bottom: 6px;
   border: 0px;
   text-align: left;
}
.bb
{
   color: #cc0000;
}
.backorder, warning_small
{
   color: #cc0000;
   font-size: 8pt;
}
.error
{
   color: #cc0000;
}
.ietweak
{
   color: #ffffff;
}
.printdiv
{
   border: 0px;
   line-height: 140%;
   margin: 9px;
   padding: 9px;
   padding-top: 15px;
   padding-left: 15px;
   text-align: left;
   vertical-align: top;
}
.info
{
   background-color: #ffffff;
   line-height: 140%;
   border: 0px;
   margin: 0px;
   padding: 0px;
   padding-top: 15px;
   padding-left: 15px;
   text-align: left;
   vertical-align: top;
}
.info_div
{
   background-color: #eeeeaa;
   margin: 4px;
   margin-bottom: 0px;
   padding: 4px;
   padding-left: 14px;
}
.info_section
{
   border: 0px;
   margin: 0px;
   margin-bottom: 12px;
   padding: 0px;
   float: left;
   clear: both;
   text-align: left;
   width: 100%;
}
.spec_section
{
   border: 0px;
   margin: 0px;
   margin-right: 12px;
   padding-left: 16px;
   padding-top: 0px;
   padding-bottom: 0px;
   text-align: left;
}
.rcol2
{
   border: 0px solid #000000;
   margin: 0px;
   padding: 0px;
   float: right;
   text-align: center;
   font-size: 9pt;
}
.rcol
{
   border: 0px solid #000000;
   margin: 0px;
   margin-right: 4px;
   padding: 0px;
   float: right;
   text-align: center;
   font-style: italic;
   font-size: 9pt;
}
.dcol
{
   border: 0px solid #000000;
   margin: 0px;
   margin-right: 4px;
   padding: 0px;
   float: left;
   clear: both;
   text-align: center;
   font-style: italic;
   font-size: 9pt;
}
.rgal
{
   border: 1px solid #dddddd;
   margin-left: 6px;
   margin-right: 0px;
   margin-top: 6px;
   margin-bottom: 6px;
   padding: 0px;
}
.gal
{
   border: 1px solid #dddddd;
   margin: 0px;
   padding: 0px;
}
.mugr
{
   margin-left: 8px;
   vertical-align: middle;
}
.mugf
{
   float: left;
   border: 1px solid #dddddd;
   margin-right: 12px;
   margin-left: 16px;
   padding: 0px;
}
.mugl
{
   float: left;
   border: 1px solid #dddddd;
   margin-right: 12px;
   margin-bottom: 6px;
   padding: 0px;
}
.payment_button
{
   border: 0px;
   margin: 6px;
   padding: 0px;
}
.c_fill
{
   padding: 4px;
   width: 40px;
   text-align: center;
   font-weight: bold;
   color: #000000;
   font-family: arial, sans-serif;
   text-decoration: none;
}
.c_open
{
   padding: 4px;
   width: 40px;
   text-align: center;
   font-weight: bold;
   color: #000000;
   font-family: arial, sans-serif;
   text-decoration: none;
   background-color: #ddeeff;
}
.c_closed
{
   padding: 4px;
   width: 40px;
   text-align: center;
   font-weight: normal;
   color: #000000;
   font-family: arial, sans-serif;
   text-decoration: none;
   background-color: #999999;
}
.chart_h_r
{
   padding: 4px;
   text-align: right;
   font-weight: bold;
   color: #000000;
   font-family: arial, sans-serif;
   text-decoration: none;
}
.chart_h_l
{
   padding: 4px;
   text-align: left;
   font-weight: bold;
   color: #000000;
   font-family: arial, sans-serif;
   text-decoration: none;
}
.chart_h
{
   padding: 4px;
   text-align: center;
   font-weight: bold;
   color: #000000;
   font-family: arial, sans-serif;
   text-decoration: none;
}
.chart_h_print
{
   padding: 8px;
   text-align: center;
   font-weight: bold;
   color: #000000;
   background-color: #FFFFFF;
   font-family: arial, sans-serif;
   text-decoration: none;
}
.chart_c
{
   padding: 4px;
   text-align: center;
}
.chart_mk
{
   background-color: #ddeeff;
   padding: 4px;
   text-align: center;
   vertical-align: middle;
}
.chart_l
{
   padding: 4px;
   text-align: left;
}
.oform_item
{
   border: 1px solid #dddddd;
   border-top: 0px;
   border-bottom: 0px;
   padding: 8px;
   text-align: left;
}
.oform_item_first
{
   border: 1px solid #dddddd;
   border-bottom: 0px;
   padding: 8px;
   text-align: left;
}
.oform_item_last
{
   border: 1px solid #dddddd;
   border-top: 0px;
   padding: 8px;
   text-align: left;
}
.cart_delete
{
   margin-top: 8px;
}
.cart_left_top_l
{
   border: 0px;
   border-top: 1px solid #dddddd;
   border-left: 1px solid #dddddd;
   padding: 8px;
   text-align: left;
   vertical-align: top;
}
.cart_left_mid_l
{
   border: 0px;
   border-left: 1px solid #dddddd;
   padding: 8px;
   text-align: left;
}
.cart_right_mid_r
{
   border: 0px;
   border-right: 1px solid #dddddd;
   padding: 8px;
   text-align: right;
}
.cart_left_bot_l
{
   border: 0px;
   border-left: 1px solid #dddddd;
   border-bottom: 1px solid #dddddd;
   padding: 8px;
   padding-top: 0px;
   text-align: left;
   vertical-align: bottom;
}
.cart_left_bot_r
{
   border: 0px;
   border-left: 1px solid #dddddd;
   border-bottom: 1px solid #dddddd;
   padding: 8px;
   padding-top: 0px;
   text-align: right;
   vertical-align: bottom;
}
.cart_mid_top_l
{
   border: 0px;
   border-top: 1px solid #dddddd;
   padding: 8px;
   text-align: left;
   vertical-align: top;
}
.cart_mid_top_c
{
   border: 0px;
   border-top: 1px solid #dddddd;
   padding: 8px;
   text-align: center;
   vertical-align: top;
}
.cart_mid_top_r
{
   border: 0px;
   border-top: 1px solid #dddddd;
   padding: 8px;
   text-align: right;
   vertical-align: top;
}
.cart_mid_bot_l
{
   border: 0px;
   border-bottom: 1px solid #dddddd;
   padding: 8px;
   padding-top: 0px;
   text-align: left;
   vertical-align: bottom;
}
.cart_mid_bot_c
{
   border: 0px;
   border-bottom: 1px solid #dddddd;
   padding: 8px;
   padding-top: 0px;
   text-align: center;
   vertical-align: bottom;
}
.cart_mid_bot_r
{
   border: 0px;
   border-bottom: 1px solid #dddddd;
   padding: 8px;
   padding-top: 0px;
   text-align: right;
   vertical-align: bottom;
}
.cart_whole_bot_c
{
   border: 1px solid #dddddd;
   border-top: 0px;
   padding: 8px;
   padding-top: 0px;
   text-align: center;
   vertical-align: bottom;
}
.cart_right_top_r
{
   border: 0px;
   border-top: 1px solid #dddddd;
   border-right: 1px solid #dddddd;
   padding: 8px;
   text-align: right;
   vertical-align: top;
}
.cart_right_bot_r
{
   border: 0px;
   border-bottom: 1px solid #dddddd;
   border-right: 1px solid #dddddd;
   padding: 8px;
   padding-top: 0px;
   text-align: right;
   vertical-align: bottom;
}
.oform_unit_price
{
   border: 1px solid #dddddd;
   border-top: 0px;
   border-bottom: 0px;
   padding: 8px;
   text-align: right;
}
.oform_unit_price_first
{
   border: 1px solid #dddddd;
   border-bottom: 0px;
   padding: 8px;
   text-align: right;
}
.oform_unit_price_last
{
   border: 1px solid #dddddd;
   border-top: 0px;
   padding: 8px;
   text-align: right;
}
.oform_quantity
{
   border: 1px solid #dddddd;
   border-top: 0px;
   border-bottom: 0px;
   padding: 4px;
   text-align: center;
}
.oform_quantity_first
{
   border: 1px solid #dddddd;
   border-bottom: 0px;
   padding: 4px;
   text-align: center;
}
.oform_quantity_last
{
   border: 1px solid #dddddd;
   border-top: 0px;
   padding: 4px;
   text-align: center;
}
.oform_total
{
   border: 1px solid #dddddd;
   border-top: 0px;
   border-bottom: 0px;
   padding: 8px;
   text-align: right;
}
.oform_total_first
{
   border: 1px solid #dddddd;
   border-bottom: 0px;
   padding: 8px;
   text-align: right;
}
.oform_total_last
{
   border: 1px solid #dddddd;
   border-top: 0px;
   padding: 8px;
   text-align: right;
}
.chart_r
{
   text-align: right;
   padding: 8px;
}
.slot0
{
   padding-top: 5px;
   padding-bottom: 4px;
   padding-left: 5px;
   padding-right: 7px;
   white-space: nowrap;
   font-weight: bold;
}
.slot0hot
{
   padding-top: 5px;
   padding-bottom: 4px;
   padding-left: 5px;
   padding-right: 7px;
   white-space: nowrap;
   font-weight: bold;
}
.slot1hot
{
   padding-top: 3px;
   padding-bottom: 4px;
   padding-left: 17px;
   padding-right: 5px;
   background-color: #ffffff;
   white-space: nowrap;
}
.slot1high
{
   padding-top: 3px;
   padding-bottom: 4px;
   padding-left: 17px;
   padding-right: 5px;
   background-color: #ffffff;
   white-space: nowrap;
}
.slot1
{
   padding-top: 3px;
   padding-bottom: 4px;
   padding-left: 17px;
   padding-right: 5px;
   white-space: nowrap;
}
.menu1
{
   font-size: 10pt;
   color: #000000;
}
.slot2
{
   font-size: 8pt;
   padding-top: 3px;
   padding-bottom: 4px;
   padding-left: 31px;
   padding-right: 3px;
   white-space: nowrap;
}
.slot2hot
{
   font-size: 8pt;
   padding-top: 3px;
   padding-bottom: 4px;
   padding-left: 31px;
   padding-right: 3px;
   background-color: #ffffff;
   white-space: nowrap;
}
.slot2high
{
   font-size: 8pt;
   padding-top: 3px;
   padding-bottom: 4px;
   padding-left: 31px;
   padding-right: 3px;
   background-color: #ffffff;
   white-space: nowrap;
}
.menu2
{
   color: #000000;
}
a.menu0
{
   color: #000000;
}
a.menu0:link
{
   color: #000000;
}
a.menu0:visited
{
   color: #000000;
}
a.menu1
{
   color: #000000;
}
a.menu1:visited
{
   color: #000000;
}
a.menu2
{
   color: #000000;
}
a.menu2:visited
{
   color: #000000;
}
.menu0
{
   color: #000000;
}
.input_center
{
   text-align: center;
}
.small_text
{
   font-size: 8pt;
}
.middle_text
{
   vertical-align: middle;
}
.blogbar
{
   background-color: #ffffff;
   border: 1px solid #ccddff;
   border: 0px;
   padding: 0px;
   margin-right: 4px;
   margin-left: 12px;
   margin-bottom: 12px;
   float: right;
}
.blogbar_div
{
   background-color: #ddeeff;
   padding: 12px;
   margin-bottom: 4px;
}
.prod_div
{
   background-color: #ddeeff;
   background-color: #ffffff;
   border: 2px solid #bbccdd;
   border: 2px solid #ddeeff;
   margin: 4px;
   margin-bottom: 0px;
   margin-left: 0px;
   padding: 6px;
   padding-left: 18px;
}
.blog_title
{
   margin-top: 0px;
   margin-bottom: 9px;
   font-size: 16pt;
   font-family: arial, sans-serif;
   font-weight: 600;
}
.blog_title_support
{
   margin-top: 0px;
   margin-bottom: 9px;
   font-size: 10pt;
   font-family: arial, sans-serif;
   font-weight: 600;
}
.post
{
   padding-bottom: 15px;
}
.sel_l
{
   text-align: left;
   border: 1px solid #dddddd;
   border-right: 0px;
   vertical-align: top;
   padding-top: 10px;
   padding-bottom: 10px;
}
.sel_r_d
{
   color: #999999;
   text-align: left;
   border: 1px solid #dddddd;
   border-left: 0px;
   vertical-align: top;
   padding-top: 10px;
   padding-bottom: 10px;
}
.sel_r
{
   text-align: left;
   border: 1px solid #dddddd;
   border-left: 0px;
   vertical-align: top;
   padding-top: 10px;
   padding-bottom: 10px;
}
.sel_c
{
   color: #999999;
   text-align: left;
   border: 1px solid #dddddd;
   border-left: 0px;
   border-right: 0px;
   vertical-align: top;
   padding-top: 10px;
   padding-bottom: 10px;
}
.sel_t
{
   background-color: #dddddd;
   text-align: left;
   border: 1px solid #dddddd;
   vertical-align: top;
   padding-top: 10px;
   padding-bottom: 10px;
}
.sel
{
   margin-left: 15px;
   padding: 6px;
}
.inv
{
   border: 0px;
   text-align: left;
   vertical-align: top;
}
.product_group
{
   color: #999999;
}
.imgcell
{
   padding: 0px;
}
.gal_cell
{
   padding-top: 0px;
   padding-left: 12px;
   padding-bottom: 20px;
   border: 0px;
   text-align: left;
   vertical-align: top;
}
.gal_imgcell
{
   padding: 0px;
   margin: 0px;
   border: 0px;
   padding-bottom: 15px;
   vertical-align: top;
}
.qinfo
{
   border: 1px solid #ffffff;
   border: 1px solid #ccddff;
   text-align: left;
}
.blurbbox
{
	border: 0px;
	margin-bottom: 36px;
}
.buybox
{
   border: 1px solid #ccddff;
   background-color: #ddeeff;
   text-align: left;
}
.buybox_links
{
   border: 1px solid #ccddff;
   text-align: center;
}
.buybox_l
{
   border: 1px solid #ccddff;
   background-color: #ddeeff;
   border-right: 0px;
   text-align: left;
   vertical-align: middle;
}
.buybox_m
{
   border: 1px solid #ccddff;
   background-color: #ddeeff;
   border-left: 0px;
   border-right: 0px;
   text-align: center;
   vertical-align: middle;
}
.buybox_r
{
   border: 1px solid #ccddff;
   background-color: #ddeeff;
   border-left: 0px;
   text-align: center;
   vertical-align: middle;
}
.buybutton
{
   margin: 0px;
   margin-left: 8px;
   margin-right: 8px;
   vertical-align: middle;
}
.ghost
{
   color: #ffffff;
}
.powerby
{
   font-size: 8pt;
   text-align: center;
}
.spec_table
{
   margin-top: 8px;
   margin-bottom: 8px;
   font-size: 8pt;
}
.order_table
{
   margin: 0px;
   width: 550px;
}
.fp_h3
{
   margin-top: 0px;
}
.diagram
{
   margin-bottom: 8px;
   margin-top: 24px;
   border: 1px solid #dddddd;
}
