@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

body, html {
  background:black;
  overflow: hidden;
  cursor: pointer;
}

.container {
  width:460px;
  height:400px;
  margin: 20px auto;
}

.topText {
  height:50px;
  width:100%;
  margin-top:5px;
  font-size:20px;
  color:white;
  text-align:center;
  font-family: 'Press Start 2P', cursive;
}

.fire {
  margin-top:15px;
}

.fire:before {
  content:"";
  position:absolute;     background:url('../img/zelda_fire_render.gif');
  height:50px;
  width:50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-left:100px;
}

.fire:after {
  content:"";
  position:absolute; background:url('../img/zelda_fire_render.gif');
  height:50px;
  width:50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-left:320px;

}

.oldMan {
 background:url('../img/oldman.png');
  height:50px;
  width:65px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin:0 auto;
}

.sword {
   background:url('../img/sword.png');
width:23px; height:60px;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  margin-left:223px;
  margin-top:40px;
  cursor:pointer;
}